body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#legend{
  color: #b00000;
  font-size:20px;
  font-weight: bold;
}
